.box{
    &__list{
        margin: 0 auto;
        text-align: center;
    }

    &__title{
        margin: 0 auto;
        margin-top: 135px;
        margin-bottom: 60px;
        width: 490px;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 82px;
    }

    &__wrap{
        margin: 0 auto;
    }

    &__input{
        position: relative;
        z-index: 1;
        right: -140px;
        margin: 0 auto;
        padding: 46px;
        width: 800px;
        height: 129px;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #C4C4C4;
        border-radius: 35px;
        border: none;
    }

    &__link{
        position: relative;
        z-index: 1;
        left: -170px;
        top: 5px;
        padding: 34px 84px;
        width: 300px;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 37px;
        color: #fff;
        background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
        border-radius: 35px;
        text-decoration: none;
        border: none;
    }
}