.content{
    // background-image: url(../img/Rectangle3.svg);
    // background-color: #1F5E37;

    &__wrap{
        max-width: 1250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;
    }

    &__navbar{
        display: flex;
        align-items: center;
    }
    &__list{
        display: flex;
        list-style-type: none;
    }
    &__item{
        margin-left: 40px;
        margin-right: 40px;
        padding-bottom: 2px;
    }
    &__link{
        color: #fff;
        text-decoration: none;
    }
}
.header__content{
    padding-bottom: 15px;
    background-image: url("../img/Rectangle3.svg");
    background-repeat: no-repeat;
    
    &-link{
        margin-left: 13px;
        margin-right: 13px;
        width: 129px;
        height: 49px;
        font-style: normal;
        font-size: 15px;
        line-height: 22px;
        color: #fff;
        text-decoration: none;
    }
    &-link:hover{
        color: rgb(151, 137, 137);
        background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%),
    }
    &-href{
        padding: 13px 43px;
        background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
        border-radius: 100px;
    }
}